.message-input {
    width: 70%;
    margin-top: 20px;
    margin-left: 14%;
    padding: 10px;
    box-shadow: 0 0 5px rgb(94, 93, 93);
}

.message-input-text {
    width: 50%;
    margin-right: 10px;
}

.message-input-text:focus {
    outline: 1px solid teal;
}

.message-input-button {
    width: 70px;
    background-color: white;
    color: teal;
    border: 1px solid teal;
    border-radius: 5px;
    cursor: pointer;
}

.message-input-button:hover {
    background-color: teal;
    color: white;
}