.own-message {
    width: 50%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    padding: 5px;
    align-self: flex-end;
    margin: 5px;
}

.message-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.user-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-text {
    align-self: flex-start;
}

.message-time{
    margin-right: 5px;
}

.message-edit {
    margin-right: 5px;
    background-color: white;
    border: 1px solid lightsalmon;
    color: lightsalmon;
    border-radius: 5px;
    cursor: pointer;
}

.message-edit:hover {
    background-color: salmon;
    color: white;
}

.message-delete {
    background-color: white;
    border: 1px solid red;
    color: red;
    border-radius: 5px;
    cursor: pointer;
}

.message-delete:hover {
    background-color: red;
    color: white;
}

.message-info-container {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    align-self: flex-end;
    margin-top: 30px;
}
